main {
	width: 500px;
	height: 100%;
	margin: 0 auto;
	
}
section {
	margin-bottom: 50px;
}
.cube {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: rgb(179, 32, 16);
	left: 0;
	top: 0;
}

.btns {
	display: flex;
	justify-content: space-between;
}
button {
	width: 200px;
	font-size: 24px;
}